*{
    margin: 0;
    padding: 0;
}

                    /* navegador */
.cuerpo{
    position: relative;
    min-height: 100vh;
    flex-wrap: wrap;
    display: flex;
    display: block;
    background-color: rgba(0, 0, 0, 0.452);
    width: 100%;
   
}

.botton{
    border: solid 3px;

} 

 .nav_booststrap{
    background-image: linear-gradient(to bottom, black, rgb(226, 39, 39));  
}

.nav-link{
    font-size: 30px;
    color: rgb(34, 255, 0);   
    border: solid 3px rgb(110, 110, 110);
    margin: 20px;
    
}
.navbar-nav a{
    color:rgb(34, 255, 0);
}





 .lista li{  
    margin: 30px;  
    border: solid 3px rgba(255, 247, 0, 0.501);
    padding: 5px;  
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
} 

.logo-2{
    height: 100px;
    width: 100px;
    border-radius: 70px;
    position: relative;
    margin: 30px; 
} 


                      /* ESTILOS DE LETRAS */
.estilos1{
    font-size: 70px;
    color: rgb(255, 0, 0);
    display: flex;
    flex-wrap: wrap;
}
.estilos2{
    font-size: 40px;
    color: rgb(213, 52, 52);
}
.estilos3{
    font-size: 30px;
}
.estilos_contacto{
    font-size: 20px;
    color:rgba(255, 255, 255, 0.875);
}
.estilos4{
    font-size: 30px;
}

                     /*  index */

.contenedor{
    width: 90%; 
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header header"
                        "contenido aside";
    
}


.header{
    padding: 2px;
    grid-area: header;
    margin: 1px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1px;
}

.contenido{
    grid-area: "contenido";
    
}
.aside{
    display: flex;
    flex-wrap: wrap;
    grid-area: "aside";
}
 /*  LISTO PARA MERGEAR */
.aside img{
    transform: skew(-10deg);   
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px){
    .aside img{
        display: none;
    }
    .estilos1{
        font-size: 40px;
    
    }   
}

.contenedor_fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;   
}

.cardsfotos__texto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cardsfotos img{
    margin: 15px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    
}
.garantias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.garantias_sub img{
    width: 200px;
}

.garantias_texto{
    font-size: 40px;
   
}
.bloque_cards{
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    background-color: rgba(245, 0, 0, 0.406);
}



                   /* PAGINA DE SERVICIO */

.fondo1 img{
    width: 100%;
    height: 100%;
}     
.seccion_principal{
    display: grid;
    grid-template-areas: 
    "seccion0 seccion0"
    "seccion1 seccion2"
    "seccion3 seccion4";
    margin: 18px;
} 
.seccion0{
    grid-area: seccion0;
}
.seccion0 p{
    display: flex;
    justify-content: center;
}
.seccion1{
    grid-area: seccion1;
}
.seccion2{
    grid-area: seccion2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 130px;
    margin-bottom: 140px;
}
.seccion2 img{
    width: 650px;
  
 }

.seccion3{
    grid-area: seccion3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.seccion3 img{
    height: 430px;
    width: 390px;
}
.seccion4{
    grid-area: seccion4;
}
@media only screen and (max-width:320px) {
    .seccion2{
        display: none;
    }
    .seccion_principal{
        display: grid;
        grid-template-areas: 
        "seccion0 "
        "seccion1 "
        "seccion3 "
        "seccion4";
        margin: 0px;
    } 
    .seccion3 img{
        height: 100%;
        width: 100%;
    }
}

                /* preguntas frecuentes */

.accordion{
    background-color: #094;
}

                /* PAGINA DE CONTACTO */
.caja0{
   max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
   padding: 1,5em; 
}
.contacto_form{
    background-color: #736969;
}
.contacto_form form p{
    margin: 0;
    padding: 1em;
    d
}

.contacto_form form button,
.contacto_form form input,
.contacto_form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background-color: none;
    border-bottom: 3px solid rgba(0, 255, 85, 0.975);
    outline: 0;
}
.contacto_form form button{
    background-color: #15fc00a3;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
.titulo1{
    text-align: center;
    font-size: 3rem;
}
.caja1{
    box-shadow: 0 0 20px 0 rgba(6, 244, 14, 0.648);
    padding: 1em;
}
.contacto_info{
    background-color: #276a3a29;
}
                        /* como llegar */

 .contenedor_mapa{
     display: flex;
     flex-wrap: wrap;                        
 }  


                        /* footer */
 .redes{
   width: 100%;
   padding: 50px 0px;  
   background-image: linear-gradient(to top, black, rgb(226, 39, 39));

}
  

.div__bloque{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   max-width: 1200px;
   margin: auto;  
}

.div__subbloque h2{
   margin-bottom: 30px;
   color: #f63535;
   display: flex;
   flex-wrap: wrap;}
   
.div__subbloque a{
    color: #7a7a7a;
    text-decoration: none;
}   
   

.prueba{
   margin-top: 30px;
   color: #7a7a7a;
   font-size: 20px;
   display: flex;
   flex-wrap: wrap;}

.div__subbloque a:hover{
   opacity: 0.8;}
   


.seccion{
   width: 100%;
   padding: 50px 0px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   max-width: 1200px;
   margin: auto;  
   position: relative;}


.seccion img { 
   display: flex;
   flex-wrap: wrap;
  }
