/* YO ACA CREO Y PONGO TODOS LOS COLORES TIPOGRAFIAS Y DEMAS COSSAS DECPORATIVAS */
$color_footer_nav: linear-gradient(to bottom, black, rgb(226, 39, 39));

$decoracion_ancors: none rgb(255, 255, 255) italic;

$d_felx: flex;